<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/option.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="flex">
        <div class="wrapper">
            <form action="/addOrder" method="post" id="addForm" enctype="multipart/form-data">
                <h4>Customer Name</h4>
                <select name="c_name">
                    <option></option>
                    <% customers.forEach((customers) => { %>
                    <option value=" <%= customers.name%>">
                        <%= customers.name %>
                    </option>
                    <% }); %>
                </select>

                <h4>Item Name</h4>
                <select name="item">
                    <option></option>
                    <% items.forEach((items) => { %>
                    <option value="<%= items.item_name %>">
                        <%= items.item_name %>
                        <%= items.item_price %>$
                    </option>
                    <% }); %>
                </select>

                <h4>Manager Name</h4>
                <select name="m_name">
                    <option></option>
                    <% managers.forEach((managers) => { %>
                    <option value=" <%= managers.manager_name %>">
                        <%= managers.manager_name %>
                    </option>
                    <% }); %>
                </select>

                <h4>Upload Order Image</h4>
                <div style="background-color: #ed7739; border-radius: 10px;">
                    <input style="text-align: center;" type="file" id="image" name="image" value="" required>
                </div>

                <button type="submit" class="btn">Add order</button>
            </form>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>